<select name="reservation[court_id]" id="reservation_court_id" data-select2-id="reservation_court_id" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
  <option selected="selected" value="" data-select2-id="13"></option>
</select>