<button type="button" id="zipcode_button">검색</button>
<div id="daum_wrap" style="display:none;"></div>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<style>
  #zipcode_button {
    box-shadow: none;
    border-radius: 0;
    background: #12b886;
    width: 250px;
    float: right;
    color: #fff;
    border: none;
    text-shadow: none;
    padding: 11px 20px; 
  }

  #zipcode_button:hover {
    background: #20c997;
  }

  #zipcode_button:active {
    background: #0ca678;
  }
</style>