$am-theme-primary: #5c7cfa;

@import "active_admin/mixins";
@import "activeadmin_addons/all";
@import "activeadmin_addons/material";
@import "active_material";
@import "imageviewer";
@import "activeadmin_reorderable";

.dropdown_menu_button.disabled {
  color: black;
  background: none;
}

.index_table td img,
.panel_contents table td img {
  width: 70px;
  height: 70px;
}

.row {
  td {
    img {
      width: 100%;

      &.cover-imag {
        width: 1000px;
        height: 1000px;
      }
    }
  }
}
