/*
*= require dropzone/basic
*= require dropzone/dropzone 
*/

$am-theme-primary: #5c7cfa;

@import "active_admin/mixins";
@import "activeadmin_addons/all";
@import "activeadmin_addons/material";
@import "active_material";
@import "imageviewer";
@import "activeadmin_reorderable";

.dropdown_menu_button.disabled {
  color: black;
  background: none;
}

.index_table td img,
.panel_contents table td img {
  width: 70px;
  height: 70px;
}

img {
  width: 100%;

  &.cover-image {
    max-width: 600px;
  }
}

#groups-dropzone.dropzone {
  .dz-preview:hover {
    z-index: 12;
  }
  .dropzone-image {
    position: absolute;
    z-index: 99;
    width: 20px;
    left: 10px;
    top: 10px;
    input {
      font-size: 16px;
      color: $primary-color;
      font-weight: 900;
      text-align: center;
      width: 20px;
      height: 24px;
      padding: unset;
      cursor: pointer;
    }
  }
}
