<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

    <meta name="theme-color" content="#510fa8">
    <meta name="mobile-web-app-capable" content="yes" />

    <meta name="description" content="Taba"/>
    <meta name="keywords" content="Taba"/>
    <meta name="author" content="Taba">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Mapplayhouse" />
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="format-detection" content="telephone=no" />

    <title>varsity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag 'application' %>

  </head>

  <body class="">
    <%= yield %>
  </body>
</html>
